<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382667765133-qk50r43b8b0sfk5k5jdbcaarkcv87bt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382667765133-qk50r43b8b0sfk5k5jdbcaarkcv87bt0</string>
	<key>API_KEY</key>
	<string>AIzaSyDRR3k_6Z2PYqWtI51jo9rqe87X3P-WjpA</string>
	<key>GCM_SENDER_ID</key>
	<string>382667765133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spartantutor.SpartanTutor</string>
	<key>PROJECT_ID</key>
	<string>spartantutorsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>spartantutorsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382667765133:ios:28434a7b961bf3b53379c4</string>
</dict>
</plist>